<a href="https://colab.research.google.com/github/Midlaj13/ipl_data_analysis/blob/main/IPL_DATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv("/content/matches.csv")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   Season           756 non-null    object
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(4), object(14)
memory usage: 106.4+ KB

In [ ]:
data=data.dropna(subset=["city"])

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 749 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               749 non-null    int64
 1   Season           749 non-null    object
 2   city             749 non-null    object
 3   date             749 non-null    object
 4   team1            749 non-null    object
 5   team2            749 non-null    object
 6   toss_winner      749 non-null    object
 7   toss_decision    749 non-null    object
 8   result           749 non-null    object
 9   dl_applied       749 non-null    int64
 10  winner           745 non-null    object
 11  win_by_runs      749 non-null    int64
 12  win_by_wickets   749 non-null    int64
 13  player_of_match  745 non-null    object
 14  venue            749 non-null    object
 15  umpire1          747 non-null    object
 16  umpire2          747 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(4), object(14)
memory usage: 111.2+ KB

In [ ]:
del data["umpire1"]
del data["umpire2"]
del data["umpire3"]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 749 entries, 0 to 755
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               749 non-null    int64
 1   Season           749 non-null    object
 2   city             749 non-null    object
 3   date             749 non-null    object
 4   team1            749 non-null    object
 5   team2            749 non-null    object
 6   toss_winner      749 non-null    object
 7   toss_decision    749 non-null    object
 8   result           749 non-null    object
 9   dl_applied       749 non-null    int64
 10  winner           745 non-null    object
 11  win_by_runs      749 non-null    int64
 12  win_by_wickets   749 non-null    int64
 13  player_of_match  745 non-null    object
 14  venue            749 non-null    object
dtypes: int64(4), object(11)
memory usage: 93.6+ KB

In [ ]:
data.shape

(749, 15)

In [ ]:
data["winner"]=data["winner"].fillna("Mumbai Indians")
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 749 entries, 0 to 755
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               749 non-null    int64
 1   Season           749 non-null    object
 2   city             749 non-null    object
 3   date             749 non-null    object
 4   team1            749 non-null    object
 5   team2            749 non-null    object
 6   toss_winner      749 non-null    object
 7   toss_decision    749 non-null    object
 8   result           749 non-null    object
 9   dl_applied       749 non-null    int64
 10  winner           749 non-null    object
 11  win_by_runs      749 non-null    int64
 12  win_by_wickets   749 non-null    int64
 13  player_of_match  749 non-null    object
 14  venue            749 non-null    object
dtypes: int64(4), object(11)
memory usage: 93.6+ KB

In [ ]:
data["player_of_match"]=data["player_of_match"].fillna("Rohit Sharma")
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 749 entries, 0 to 755
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               749 non-null    int64
 1   Season           749 non-null    object
 2   city             749 non-null    object
 3   date             749 non-null    object
 4   team1            749 non-null    object
 5   team2            749 non-null    object
 6   toss_winner      749 non-null    object
 7   toss_decision    749 non-null    object
 8   result           749 non-null    object
 9   dl_applied       749 non-null    int64
 10  winner           749 non-null    object
 11  win_by_runs      749 non-null    int64
 12  win_by_wickets   749 non-null    int64
 13  player_of_match  749 non-null    object
 14  venue            749 non-null    object
dtypes: int64(4), object(11)
memory usage: 93.6+ KB

In [ ]:
match=0
for i in data["team1"]:
  if (i=="Mumbai Indians"):
    match=match+1
for i in data["team2"]:
  if (i=="Mumbai Indians"):
    match=match+1
print(match)

184

In [ ]:
win=0
for i in data["winner"]:
  if (i=="Mumbai Indians"):
    win=win+1
print(win)

109